@import "_config.scss";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&disp');


#helpbutton:focus {
  box-shadow: none !important;
}

#helpbutton {
  box-shadow: none !important;
  padding-bottom: 3px;
  background-color: #f8f9fa;
  color: #007bfe;
}

#popover-basic{
  border: 1px solid rgb(0, 123, 254);
}

#infoTitle{
  color: #007bfe;
}
/*
.collapse:not(.show) {
    display: none;
}

@media (min-width: 768px){
.bd-links {
    display: block!important;
}
}

@media (min-width: 768px){
.bd-links {
    max-height: calc(100vh - 9rem);
    overflow-y: auto;
}
}
.bd-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px;
}

.bd-toc-link {
    display: block;
    padding: .25rem 1.5rem;
    font-weight: 600;
    color: rgba(0,0,0,.65);
}

a {
    color: black;
    text-decoration: none;
    background-color: transparent;
}

@media (min-width: 1200px){
.bd-sidebar {
    -ms-flex: 0 1 320px;
    flex: 0 1 320px;
  }
}

@media (min-width: 768px){
.bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 1000;
    height: calc(100vh - 0rem);
    bottom: 0;
  }
}

@media (min-width: 768px){
.bd-sidebar {
    border-right: 1px solid rgba(0,0,0,.1);
  }
}

.bd-sidebar {
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    top:0;
    padding-top: 60px;
}

.container-fluid{
  padding-top: 60px;
}*/

.responsive {
  width: 100%;
  height: auto;
}

body {
  overflow-x: hidden;
  background-color: blue;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

  @media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
  }

@media screen {
    /* Hide the special layer from the screen. */
    #print-me { display: none; }
}


#texttest{
  position:static;
  top:225px;
  left:520px;
}

#mycanvas {
  width: 100%;
  border: solid 2px black;
}

#mycanvas2 {
  width: 100%;
  border: solid 2px black;
}

.hidden{
  display: none;
}

#mlabel{
  font-size: 12px;
}

#mlabel2{
  font-size: 12px;
  color: black;
}

#welcomeJumbo{
    background-color: #003a7d;
    color: white;
    border-radius: 6px;
}

#welcomeJumboLead{
   color: #f1b321;
}

#menu-toggle{
  background-color: #003a7d;
}

#btn2{
  background-color: #f1b321;
  border-color: #f1b321;
}

#btn{
background-color: #003a7d;
}



#performance1Outputs{
  background-color: white;
  border-color: #003a7d;
  border-style: solid;
  border-width: thin;
}

#performance1Outputs2{
  background-color: white;
  border-color: #003a7d;
  border-style: solid;
  border-width: thin;
}

.custom-control-label{
  color:black;
}
